* 
{
    
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
}

.site 
{
    
    display: flex;
    flex-direction: column;
    
}

.conteudo 
{
    
    width: 1320px;
    margin: 0 auto;
    
}

/*** Cabeçalho/Header ***/
    
    header 
    {
        
        height: 120px;
        
        background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
        
    }
    
    header .conteudo 
    {
        
        height: 100%;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    
    header .conteudo .logo
    {
        
        width: 165px;
        
    }
    
    header .conteudo .menus ul 
    {
        
        display: flex;
        gap: 20px;
        
        list-style: none;
        
    }
    
/* Fim Cabeçalho/Header */

/* Menu */
    
    .menu
    {
        
        height: 55px;
        
        display: flex;
        
        background-color: transparent;
        background-image: linear-gradient(180deg, #FFFFFF 0%, #DBDBDB 100%);
        
    }
    
    .menu .conteudo
    {
        
        display: flex;
        align-items: center;
        
    }
    
    .menu ul
    {
        
        display: flex;
        flex-basis: 100%;
        
        justify-content: space-between;
        
        list-style: none;
        
    }
    
    .menu ul li a 
    {
        
        color: #003C6A;
        font-family: "Ubuntu", sans-serif;
        
        font-size: 15px;
        font-weight: 450;
        padding: 25px;
        
        text-decoration: none;
        
    }
    
    .menu ul li a:hover
    {
        
        background: #FFFFFF;
        color: #006394;
        
        padding: 19px;
        
    }
    
/* Fim Menu */

/* Banner */
    
    .banner
    {
        
        width: 100%;
        height: auto;
        
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        
    }
    
/* Fim Banner */

/* Noticias & Competencias */
    
    .noticias-competencias
    {
        
        color: white;
        
        min-height: 1700px;
        width: 100%;
        padding: 20px 8px 20px 8px;
        
        background-color: transparent;
        background-image: linear-gradient(180deg, #00315E 0%, #000825 100%);
        
    }
    
    .noticias-competencias h2
    {
        
        font-family: "Ubuntu", Sans-serif !important;
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 49px;
        
        margin-top: 80px;
        padding: 10px 0px;
        
    }
    
    /* Notícias */
        
        .conteudo-noticias
        {
            
            display: flex;
            justify-content: space-between;
            
        }
        
        .card-noticias
        {
            
            overflow: hidden;
            flex-basis: 24%;
            
            border-radius: 10px;
            
            padding-bottom: 20px;
            position: relative;
            
            background-color: #FFFFFF;
            
        }
        
        .conteudo-noticias .card-noticias-image
        {
            
            
            overflow: hidden;
            
            height: 220px;
            
            position: relative;
            
        }
        
        .card-noticias .card-noticias-data
        { 
            
            font-family: "Ubuntu", Sans-serif !important;
            font-style: italic;
            color: #1e99d6;
            font-weight: 100%;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            position: absolute;
            top: 169px;
            width: 100%;
            height: 50px;
            
            background-color: #003c6ab7;
            transition: transform 0.3s ease, opacity 0.3s ease; /* Feito em sala, transparencia da data da notícia!*/
            
        }
        
        .conteudo-noticias .card-noticias-image img
        {
            
            width: 100%;
            transition: all 0.5s ease-out;
            
        }
        
        .card-noticias .card-noticias-image:hover img
        {
            
            transform: scale(1.3); /* Importante para projetos futurus!!! Aumenta a imagem em 1.3x*/
            
        }
        
        .card-noticias-text
        {
            
            color: #003C6A;
            font-family: "Ubuntu", Sans-serif;
            font-size: 17px;
            line-height: 22px;
            font-weight: 300;
            
            padding: 20px 20px 20px 20px;
            
        }
        
        .card-noticias .leia-mais .botao
        {
            
            font-family: "Ubuntu", Sans-serif;
            font-size: 14px;
            font-weight: 50px;
            font-style: italic;
            color: #006394;
            
            text-decoration: none;
            
            background: #ebebeb;
            
            padding: 5px 15px 5px 15px;
            margin-right: 20px;
            border-radius: 25px 25px 25px 25px;
            
            float: right;
            position: absolute;
            
            right: 20px;
            bottom: 20px;
            
        }
        
        .card-noticias .leia-mais .botao:hover
        {
            
            color: white;
            background-color: #006394;
            
        }
        
    /* Fim Notícias */
    
    /* Competencias: */
        
        .conteudo-competencias
        {
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 18px;
            
        }
        
        .card-competencias
        {
            
            flex-basis: 32.33%;
            
            overflow: hidden;
            
            border-radius: 10px;
            border-style: solid;
            border-width: 1px 1px 1px 1px;
            border-color: #005CAAC7;
            
        }
        
        .card-competencias .card-competencias-image
        {
            
            overflow: hidden;
            position: relative;
            
        }
        
        .card-competencias .card-competencias-image img
        {
            
            width: 100%;
            transition: all 1.1s ease-out;
            
        }
        
        .card-competencias .card-competencias-image:hover img
        {
            
            transform: scale(1.3);
            
        }
        
        .card-competencias .card-competencias-text
        {
            
            color: white;
            font-weight: bold;
            
            text-align: center;
            
            position: absolute;
            
            bottom: 10%;
            
            right: 33%;
            
        }
        
    /* Fim Competencias */
    
/* Fim Notícias & Competencias */

/* Rodapé */
    
    footer
    {
        
        background-color: transparent;
        
        text-align: center;
        
        padding: 10px 0;
        
    }
    
    footer .image
    {
        
        text-align: left;
        
        margin-left: 25px;
        
    }
    
    footer .image img
    {
        
        width: 17%; 
        height: auto;
        
    }
    
    footer .links 
    {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    footer .links .quebra
    {
        
        flex-wrap: wrap;
        
    }
    
    footer .links ul 
    {
        
        display: flex;
        flex-wrap: wrap;
        
        list-style: none;
        
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 10px;
        gap: 8px;
        
    }
    
    footer .links ul .icons-footer 
    {
        
        text-align: left;
        
    }
    
    .fundo-footer .icons-footer 
    {
        
        background-color: #006394;
        color: #00315E;
        
        border-radius: 50px;
        padding: 8px;
        
    }
    
    
    footer .links-footer
    {
        
        display: flex;
        text-align: right;
        flex-direction: column;
        
        margin-bottom: 120px;
        
    }
    
    footer .links-footer .links-final a
    {
        
        text-decoration: none;
        color: white;
        font-size: 14px;
        
    }
    
    footer .links-footer .links-final a:hover
    {
        
        color: #006394;
        
    }
    
    .retornar-topo 
    {
        
        margin-right: 100px;
        margin-bottom: 200px;
        
    }
    
    .retornar-topo .topo .voltar 
    {
        
        background-color: transparent;
        color: #006394;  
        text-decoration: none;
        font-size: 15px;
        
        border-style: solid;
        border-width: 2px;
        border-radius: 50px;
        padding: 10px;
        
    }
    
    .retornar-topo .topo .voltar:hover
    {
        
        
        color: #1ea0e0; 
        
    }
    
    footer .text
    {
        
        text-align: left;
        color: white;
        font-weight: 400;
        line-height: 1.3em;
        font-size: 14px;
        
        margin-left: 30px;
        margin-bottom: 20px;
        
    }
    
    footer .cadastre
    {
        
        text-align: left;
        margin-left: 30px;
        margin-bottom: 70px;
        
    }
    
    footer .cadastre .button
    {
        
        background-color: transparent;
        background-image: linear-gradient(180deg, #006394 0%, #003C6A 100%);
        
        color: white;
        font-family: "Ubuntu", Sans-serif;
        font-style: italic;
        font-size: 13px;
        line-height: 1.2em;
        font-weight: 400;
        
        border-radius: 50px;
        border-style: solid;
        border-width: 1px;
        border-color: #006394;
        
        padding: 5px 15px;
        
    }
    
    footer .cadastre .button:hover
    {
        
        background-color: transparent;
        background-image: linear-gradient(180deg, #00082500 0%, #00082500 100%);
        color: #006394;
        
    }
    
    footer .direito-autorais p
    {
        
        font-size: 12px;
        line-height: 15px;
        
    }
    
/* Fim Rodapé */